openapi: 3.0.3
info:
  title: NASA APIs
  description: >-
    This API provides access to NASA's collection of APIs for accessing space and earth science data. The APIs cover a
    wide range of NASA datasets including:


    - Astronomy Picture of the Day (APOD)

    - Near Earth Object Web Service (NeoWs)

    - Space Weather Database (DONKI)

    - Global Imagery Browse Services (GIBS)

    - Earth Observatory Natural Event Tracker (EONET)

    - Earth Polychromatic Imaging Camera (EPIC)

    - NASA Exoplanet Archive

    - Open Science Data Repository

    - TLE (Two Line Element) API

    - Trek WMTS Services


    Most APIs require an API key which can be obtained from https://api.nasa.gov/
  version: 1.0.0
  contact:
    name: NASA Open Data
    url: https://api.nasa.gov/
    email: hq-open-innovation@nasa.gov
  license:
    name: NASA Open Data
    url: https://www.nasa.gov/about/highlights/HP_Privacy.html
  termsOfService: https://www.nasa.gov/about/highlights/HP_Privacy.html
servers:
  - url: https://api.nasa.gov
    description: NASA API Production Server
security:
  - api_key: []
paths:
  /apod:
    get:
      summary: Returns images
      description: Returns the picture of the day
      tags:
        - request tag
        - APOD
      parameters:
        - name: date
          in: query
          description: The date of the APOD image to retrieve
          required: false
          schema:
            type: string
            format: date
        - name: hd
          in: query
          description: Retrieve the URL for the high resolution image
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    date:
                      type: string
                      format: date
                    explanation:
                      type: string
                    hdurl:
                      type: string
                      format: uri
                    media_type:
                      type: string
                    service_version:
                      type: string
                    title:
                      type: string
                    url:
                      type: string
                      format: uri
        '400':
          description: Date must be between Jun 16, 1995 and Mar 28, 2019.
      security:
        - api_key: []
  /neo/rest/v1/feed:
    get:
      tags:
        - Asteroids NeoWs
      summary: Asteroids NeoWs - feed
      description: >-
        NeoWs (Near Earth Object Web Service) is a RESTful web service for near earth Asteroid information. With NeoWs a
        user can: search for Asteroids based on their closest approach date to Earth, lookup a ...
      parameters:
        - name: start_date
          in: query
          description: Starting date for asteroid search
          required: false
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          description: Ending date for asteroid search
          required: false
          schema:
            type: string
            format: date
            default: 7 days after start_date
        - name: api_key
          in: query
          description: api.nasa.gov key for expanded usage
          required: false
          schema:
            type: string
            default: DEMO_KEY
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - invalid parameters
        '403':
          description: Forbidden - invalid API key
        '429':
          description: Too many requests - rate limit exceeded
      security:
        - api_key: []
  /neo/rest/v1/neo/:
    get:
      tags:
        - Asteroids NeoWs
      summary: Asteroids NeoWs - API
      description: >-
        NeoWs (Near Earth Object Web Service) is a RESTful web service for near earth Asteroid information. With NeoWs a
        user can: search for Asteroids based on their closest approach date to Earth, lookup a ...
      parameters:
        - name: start_date
          in: query
          description: Starting date for asteroid search
          required: false
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          description: Ending date for asteroid search
          required: false
          schema:
            type: string
            format: date
            default: 7 days after start_date
        - name: api_key
          in: query
          description: api.nasa.gov key for expanded usage
          required: false
          schema:
            type: string
            default: DEMO_KEY
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - invalid parameters
        '403':
          description: Forbidden - invalid API key
        '429':
          description: Too many requests - rate limit exceeded
      security:
        - api_key: []
  /neo/rest/v1/neo/3542519:
    get:
      tags:
        - Asteroids NeoWs
      summary: Asteroids NeoWs - 3542519
      description: >-
        NeoWs (Near Earth Object Web Service) is a RESTful web service for near earth Asteroid information. With NeoWs a
        user can: search for Asteroids based on their closest approach date to Earth, lookup a ...
      parameters:
        - name: start_date
          in: query
          description: Starting date for asteroid search
          required: false
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          description: Ending date for asteroid search
          required: false
          schema:
            type: string
            format: date
            default: 7 days after start_date
        - name: api_key
          in: query
          description: api.nasa.gov key for expanded usage
          required: false
          schema:
            type: string
            default: DEMO_KEY
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - invalid parameters
        '403':
          description: Forbidden - invalid API key
        '429':
          description: Too many requests - rate limit exceeded
      security:
        - api_key: []
  /neo/rest/v1/neo/browse/:
    get:
      tags:
        - Asteroids NeoWs
      summary: Asteroids NeoWs - API
      description: >-
        NeoWs (Near Earth Object Web Service) is a RESTful web service for near earth Asteroid information. With NeoWs a
        user can: search for Asteroids based on their closest approach date to Earth, lookup a ...
      parameters:
        - name: start_date
          in: query
          description: Starting date for asteroid search
          required: false
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          description: Ending date for asteroid search
          required: false
          schema:
            type: string
            format: date
            default: 7 days after start_date
        - name: api_key
          in: query
          description: api.nasa.gov key for expanded usage
          required: false
          schema:
            type: string
            default: DEMO_KEY
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - invalid parameters
        '403':
          description: Forbidden - invalid API key
        '429':
          description: Too many requests - rate limit exceeded
      security:
        - api_key: []
  /neo/rest/v1/neo/browse:
    get:
      tags:
        - Asteroids NeoWs
      summary: Asteroids NeoWs - browse
      description: >-
        NeoWs (Near Earth Object Web Service) is a RESTful web service for near earth Asteroid information. With NeoWs a
        user can: search for Asteroids based on their closest approach date to Earth, lookup a ...
      parameters:
        - name: start_date
          in: query
          description: Starting date for asteroid search
          required: false
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          description: Ending date for asteroid search
          required: false
          schema:
            type: string
            format: date
            default: 7 days after start_date
        - name: api_key
          in: query
          description: api.nasa.gov key for expanded usage
          required: false
          schema:
            type: string
            default: DEMO_KEY
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - invalid parameters
        '403':
          description: Forbidden - invalid API key
        '429':
          description: Too many requests - rate limit exceeded
      security:
        - api_key: []
  /DONKI/CME:
    get:
      tags:
        - DONKI
      summary: DONKI - CME
      description: >-
        The Space Weather Database Of Notifications, Knowledge, Information (DONKI) is a comprehensive on-line tool for
        space weather forecasters, scientists, and the general space science community. DONKI ch...
      parameters:
        - name: api_key
          in: query
          description: NASA API Key for expanded usage
          required: false
          schema:
            type: string
            default: DEMO_KEY
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - invalid parameters
        '403':
          description: Forbidden - invalid API key
        '429':
          description: Too many requests - rate limit exceeded
      security:
        - api_key: []
  /DONKI/CMEAnalysis:
    get:
      tags:
        - DONKI
      summary: DONKI - CMEAnalysis
      description: >-
        The Space Weather Database Of Notifications, Knowledge, Information (DONKI) is a comprehensive on-line tool for
        space weather forecasters, scientists, and the general space science community. DONKI ch...
      parameters:
        - name: api_key
          in: query
          description: NASA API Key for expanded usage
          required: false
          schema:
            type: string
            default: DEMO_KEY
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - invalid parameters
        '403':
          description: Forbidden - invalid API key
        '429':
          description: Too many requests - rate limit exceeded
      security:
        - api_key: []
  /DONKI/GST:
    get:
      tags:
        - DONKI
      summary: DONKI - GST
      description: >-
        The Space Weather Database Of Notifications, Knowledge, Information (DONKI) is a comprehensive on-line tool for
        space weather forecasters, scientists, and the general space science community. DONKI ch...
      parameters:
        - name: api_key
          in: query
          description: NASA API Key for expanded usage
          required: false
          schema:
            type: string
            default: DEMO_KEY
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - invalid parameters
        '403':
          description: Forbidden - invalid API key
        '429':
          description: Too many requests - rate limit exceeded
      security:
        - api_key: []
  /DONKI/IPS:
    get:
      tags:
        - DONKI
      summary: DONKI - IPS
      description: >-
        The Space Weather Database Of Notifications, Knowledge, Information (DONKI) is a comprehensive on-line tool for
        space weather forecasters, scientists, and the general space science community. DONKI ch...
      parameters:
        - name: api_key
          in: query
          description: NASA API Key for expanded usage
          required: false
          schema:
            type: string
            default: DEMO_KEY
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - invalid parameters
        '403':
          description: Forbidden - invalid API key
        '429':
          description: Too many requests - rate limit exceeded
      security:
        - api_key: []
  /DONKI/FLR:
    get:
      tags:
        - DONKI
      summary: DONKI - FLR
      description: >-
        The Space Weather Database Of Notifications, Knowledge, Information (DONKI) is a comprehensive on-line tool for
        space weather forecasters, scientists, and the general space science community. DONKI ch...
      parameters:
        - name: api_key
          in: query
          description: NASA API Key for expanded usage
          required: false
          schema:
            type: string
            default: DEMO_KEY
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - invalid parameters
        '403':
          description: Forbidden - invalid API key
        '429':
          description: Too many requests - rate limit exceeded
      security:
        - api_key: []
  /DONKI/SEP:
    get:
      tags:
        - DONKI
      summary: DONKI - SEP
      description: >-
        The Space Weather Database Of Notifications, Knowledge, Information (DONKI) is a comprehensive on-line tool for
        space weather forecasters, scientists, and the general space science community. DONKI ch...
      parameters:
        - name: api_key
          in: query
          description: NASA API Key for expanded usage
          required: false
          schema:
            type: string
            default: DEMO_KEY
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - invalid parameters
        '403':
          description: Forbidden - invalid API key
        '429':
          description: Too many requests - rate limit exceeded
      security:
        - api_key: []
  /DONKI/MPC:
    get:
      tags:
        - DONKI
      summary: DONKI - MPC
      description: >-
        The Space Weather Database Of Notifications, Knowledge, Information (DONKI) is a comprehensive on-line tool for
        space weather forecasters, scientists, and the general space science community. DONKI ch...
      parameters:
        - name: api_key
          in: query
          description: NASA API Key for expanded usage
          required: false
          schema:
            type: string
            default: DEMO_KEY
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - invalid parameters
        '403':
          description: Forbidden - invalid API key
        '429':
          description: Too many requests - rate limit exceeded
      security:
        - api_key: []
  /DONKI/RBE:
    get:
      tags:
        - DONKI
      summary: DONKI - RBE
      description: >-
        The Space Weather Database Of Notifications, Knowledge, Information (DONKI) is a comprehensive on-line tool for
        space weather forecasters, scientists, and the general space science community. DONKI ch...
      parameters:
        - name: api_key
          in: query
          description: NASA API Key for expanded usage
          required: false
          schema:
            type: string
            default: DEMO_KEY
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - invalid parameters
        '403':
          description: Forbidden - invalid API key
        '429':
          description: Too many requests - rate limit exceeded
      security:
        - api_key: []
  /DONKI/HSS:
    get:
      tags:
        - DONKI
      summary: DONKI - HSS
      description: >-
        The Space Weather Database Of Notifications, Knowledge, Information (DONKI) is a comprehensive on-line tool for
        space weather forecasters, scientists, and the general space science community. DONKI ch...
      parameters:
        - name: api_key
          in: query
          description: NASA API Key for expanded usage
          required: false
          schema:
            type: string
            default: DEMO_KEY
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - invalid parameters
        '403':
          description: Forbidden - invalid API key
        '429':
          description: Too many requests - rate limit exceeded
      security:
        - api_key: []
  /DONKI/WSAEnlilSimulations:
    get:
      tags:
        - DONKI
      summary: DONKI - WSAEnlilSimulations
      description: >-
        The Space Weather Database Of Notifications, Knowledge, Information (DONKI) is a comprehensive on-line tool for
        space weather forecasters, scientists, and the general space science community. DONKI ch...
      parameters:
        - name: api_key
          in: query
          description: NASA API Key for expanded usage
          required: false
          schema:
            type: string
            default: DEMO_KEY
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - invalid parameters
        '403':
          description: Forbidden - invalid API key
        '429':
          description: Too many requests - rate limit exceeded
      security:
        - api_key: []
  /DONKI/notifications:
    get:
      tags:
        - DONKI
      summary: DONKI - notifications
      description: >-
        The Space Weather Database Of Notifications, Knowledge, Information (DONKI) is a comprehensive on-line tool for
        space weather forecasters, scientists, and the general space science community. DONKI ch...
      parameters:
        - name: api_key
          in: query
          description: NASA API Key for expanded usage
          required: false
          schema:
            type: string
            default: DEMO_KEY
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - invalid parameters
        '403':
          description: Forbidden - invalid API key
        '429':
          description: Too many requests - rate limit exceeded
      security:
        - api_key: []
  /wmts-webmerc/1.0.0/WMTSCapabilities.xml:
    get:
      tags:
        - GIBS
      summary: GIBS - WMTSCapabilities.xml
      description: Access GIBS data
      parameters:
        - name: api_key
          in: query
          description: NASA API Key for expanded usage
          required: false
          schema:
            type: string
            default: DEMO_KEY
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - invalid parameters
        '403':
          description: Forbidden - invalid API key
        '429':
          description: Too many requests - rate limit exceeded
      security:
        - api_key: []
  /wmts-geo/1.0.0/WMTSCapabilities.xml:
    get:
      tags:
        - GIBS
      summary: GIBS - WMTSCapabilities.xml
      description: Access GIBS data
      parameters:
        - name: api_key
          in: query
          description: NASA API Key for expanded usage
          required: false
          schema:
            type: string
            default: DEMO_KEY
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - invalid parameters
        '403':
          description: Forbidden - invalid API key
        '429':
          description: Too many requests - rate limit exceeded
      security:
        - api_key: []
  /EONET/api/v2.1/events:
    get:
      tags:
        - EONET
      summary: EONET - events
      description: >-
        More and more NASA imagery is being made available via web services (WMS, WMTS, etc.) and a significant
        percentage of it is being produced and published in near real time (NRT=within a few hours after...
      parameters:
        - name: api_key
          in: query
          description: NASA API Key for expanded usage
          required: false
          schema:
            type: string
            default: DEMO_KEY
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - invalid parameters
        '403':
          description: Forbidden - invalid API key
        '429':
          description: Too many requests - rate limit exceeded
      security:
        - api_key: []
  /EONET/api/v2.1/categories:
    get:
      tags:
        - EONET
      summary: EONET - categories
      description: >-
        More and more NASA imagery is being made available via web services (WMS, WMTS, etc.) and a significant
        percentage of it is being produced and published in near real time (NRT=within a few hours after...
      parameters:
        - name: api_key
          in: query
          description: NASA API Key for expanded usage
          required: false
          schema:
            type: string
            default: DEMO_KEY
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - invalid parameters
        '403':
          description: Forbidden - invalid API key
        '429':
          description: Too many requests - rate limit exceeded
      security:
        - api_key: []
  /EONET/api/v2.1/layers:
    get:
      tags:
        - EONET
      summary: EONET - layers
      description: >-
        More and more NASA imagery is being made available via web services (WMS, WMTS, etc.) and a significant
        percentage of it is being produced and published in near real time (NRT=within a few hours after...
      parameters:
        - name: api_key
          in: query
          description: NASA API Key for expanded usage
          required: false
          schema:
            type: string
            default: DEMO_KEY
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - invalid parameters
        '403':
          description: Forbidden - invalid API key
        '429':
          description: Too many requests - rate limit exceeded
      security:
        - api_key: []
  /EPIC/api/natural/images:
    get:
      tags:
        - EPIC
      summary: EPIC - images
      description: >-
        The EPIC API provides information on the daily imagery collected by DSCOVR's Earth Polychromatic Imaging Camera
        (EPIC) instrument. Uniquely positioned at the Earth-Sun Lagrange point, EPIC provides fu...
      parameters:
        - name: natural
          in: query
          description: Metadata on the most recent date of natural color imagery.
          required: false
          schema:
            type: string
            default: Most Recent Natural Color
        - name: natural/date
          in: query
          description: Metadata for natural color imagery available for a given date.
          required: false
          schema:
            type: string
            format: date
            default: Most Recent Available
        - name: natural/all
          in: query
          description: A listing of all dates with available natural color imagery.
          required: false
          schema:
            type: string
            default: Dates for Natural Color
        - name: natural/available
          in: query
          description: Alternate listing of all dates with available natural color imagery.
          required: false
          schema:
            type: string
            default: Dates for Natural Color
        - name: enhanced
          in: query
          description: Metadata on the most recent date of enhanced color imagery.
          required: false
          schema:
            type: string
            default: Most Recent Enhanced Color
        - name: enhanced/date
          in: query
          description: Metadata for enhanced color imagery for a given date.
          required: false
          schema:
            type: string
            format: date
            default: Most Recent Available
        - name: enhanced/all
          in: query
          description: A listing of all dates with available enhanced color imagery.
          required: false
          schema:
            type: string
            default: Dates for Enhanced Imagery
        - name: enhanced/available
          in: query
          description: Alternate listing of all dates with available enhanced color imagery.
          required: false
          schema:
            type: string
            default: Dates for Enhanced Imagery
        - name: api_key
          in: query
          description: API key from api.nasa.gov for expanded usage.
          required: false
          schema:
            type: string
            default: DEMO_KEY
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - invalid parameters
        '403':
          description: Forbidden - invalid API key
        '429':
          description: Too many requests - rate limit exceeded
      security:
        - api_key: []
  /EPIC/api/natural/date/2019-05-30:
    get:
      tags:
        - EPIC
      summary: EPIC - 2019-05-30
      description: >-
        The EPIC API provides information on the daily imagery collected by DSCOVR's Earth Polychromatic Imaging Camera
        (EPIC) instrument. Uniquely positioned at the Earth-Sun Lagrange point, EPIC provides fu...
      parameters:
        - name: natural
          in: query
          description: Metadata on the most recent date of natural color imagery.
          required: false
          schema:
            type: string
            default: Most Recent Natural Color
        - name: natural/date
          in: query
          description: Metadata for natural color imagery available for a given date.
          required: false
          schema:
            type: string
            format: date
            default: Most Recent Available
        - name: natural/all
          in: query
          description: A listing of all dates with available natural color imagery.
          required: false
          schema:
            type: string
            default: Dates for Natural Color
        - name: natural/available
          in: query
          description: Alternate listing of all dates with available natural color imagery.
          required: false
          schema:
            type: string
            default: Dates for Natural Color
        - name: enhanced
          in: query
          description: Metadata on the most recent date of enhanced color imagery.
          required: false
          schema:
            type: string
            default: Most Recent Enhanced Color
        - name: enhanced/date
          in: query
          description: Metadata for enhanced color imagery for a given date.
          required: false
          schema:
            type: string
            format: date
            default: Most Recent Available
        - name: enhanced/all
          in: query
          description: A listing of all dates with available enhanced color imagery.
          required: false
          schema:
            type: string
            default: Dates for Enhanced Imagery
        - name: enhanced/available
          in: query
          description: Alternate listing of all dates with available enhanced color imagery.
          required: false
          schema:
            type: string
            default: Dates for Enhanced Imagery
        - name: api_key
          in: query
          description: API key from api.nasa.gov for expanded usage.
          required: false
          schema:
            type: string
            default: DEMO_KEY
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - invalid parameters
        '403':
          description: Forbidden - invalid API key
        '429':
          description: Too many requests - rate limit exceeded
      security:
        - api_key: []
  /EPIC/api/natural/all:
    get:
      tags:
        - EPIC
      summary: EPIC - all
      description: >-
        The EPIC API provides information on the daily imagery collected by DSCOVR's Earth Polychromatic Imaging Camera
        (EPIC) instrument. Uniquely positioned at the Earth-Sun Lagrange point, EPIC provides fu...
      parameters:
        - name: natural
          in: query
          description: Metadata on the most recent date of natural color imagery.
          required: false
          schema:
            type: string
            default: Most Recent Natural Color
        - name: natural/date
          in: query
          description: Metadata for natural color imagery available for a given date.
          required: false
          schema:
            type: string
            format: date
            default: Most Recent Available
        - name: natural/all
          in: query
          description: A listing of all dates with available natural color imagery.
          required: false
          schema:
            type: string
            default: Dates for Natural Color
        - name: natural/available
          in: query
          description: Alternate listing of all dates with available natural color imagery.
          required: false
          schema:
            type: string
            default: Dates for Natural Color
        - name: enhanced
          in: query
          description: Metadata on the most recent date of enhanced color imagery.
          required: false
          schema:
            type: string
            default: Most Recent Enhanced Color
        - name: enhanced/date
          in: query
          description: Metadata for enhanced color imagery for a given date.
          required: false
          schema:
            type: string
            format: date
            default: Most Recent Available
        - name: enhanced/all
          in: query
          description: A listing of all dates with available enhanced color imagery.
          required: false
          schema:
            type: string
            default: Dates for Enhanced Imagery
        - name: enhanced/available
          in: query
          description: Alternate listing of all dates with available enhanced color imagery.
          required: false
          schema:
            type: string
            default: Dates for Enhanced Imagery
        - name: api_key
          in: query
          description: API key from api.nasa.gov for expanded usage.
          required: false
          schema:
            type: string
            default: DEMO_KEY
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - invalid parameters
        '403':
          description: Forbidden - invalid API key
        '429':
          description: Too many requests - rate limit exceeded
      security:
        - api_key: []
  /exoplanet/exoplanets:
    get:
      tags:
        - Exoplanet
      summary: Exoplanet - exoplanets
      description: >-
        The Exoplanet Archive API allows programatic access to NASA's Exoplanet Archive database. This API contains a
        ton of options so to get started please visit this page for introductory materials. To see...
      parameters:
        - name: api_key
          in: query
          description: NASA API Key for expanded usage
          required: false
          schema:
            type: string
            default: DEMO_KEY
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - invalid parameters
        '403':
          description: Forbidden - invalid API key
        '429':
          description: Too many requests - rate limit exceeded
      security:
        - api_key: []
  /exoplanet/exomultpars:
    get:
      tags:
        - Exoplanet
      summary: Exoplanet - exomultpars
      description: >-
        The Exoplanet Archive API allows programatic access to NASA's Exoplanet Archive database. This API contains a
        ton of options so to get started please visit this page for introductory materials. To see...
      parameters:
        - name: api_key
          in: query
          description: NASA API Key for expanded usage
          required: false
          schema:
            type: string
            default: DEMO_KEY
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - invalid parameters
        '403':
          description: Forbidden - invalid API key
        '429':
          description: Too many requests - rate limit exceeded
      security:
        - api_key: []
  /insight_weather/:
    get:
      tags:
        - Insight
      summary: Insight - API
      description: Access Insight data
      parameters:
        - name: version
          in: query
          description: The version of this API
          required: false
          schema:
            type: number
            default: '1.0'
        - name: feedtype
          in: query
          description: The format of what is returned. Currently the default is JSON and only JSON works.
          required: false
          schema:
            type: string
            default: json
        - name: api_key
          in: query
          description: api.data.gov key for expanded usage
          required: false
          schema:
            type: string
            default: DEMO_KEY
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - invalid parameters
        '403':
          description: Forbidden - invalid API key
        '429':
          description: Too many requests - rate limit exceeded
      security:
        - api_key: []
  /mars-photos/api/v1/rovers/curiosity/photos:
    get:
      tags:
        - Mars Rover Photos
      summary: Mars Rover Photos - photos
      description: >-
        This API is designed to collect image data gathered by NASA's Curiosity, Opportunity, and Spirit rovers on Mars
        and make it more easily available to other developers, educators, and citizen scientists...
      parameters:
        - name: sol
          in: query
          description: sol (ranges from 0 to max found in endpoint)
          required: false
          schema:
            type: integer
        - name: camera
          in: query
          description: see table above for abbreviations
          required: false
          schema:
            type: string
            default: all
        - name: page
          in: query
          description: 25 items per page returned
          required: false
          schema:
            type: integer
            default: '1'
        - name: api_key
          in: query
          description: api.nasa.gov key for expanded usage
          required: false
          schema:
            type: string
            default: DEMO_KEY
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  photos:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        sol:
                          type: integer
                        camera:
                          type: object
                        img_src:
                          type: string
                          format: uri
                        earth_date:
                          type: string
                          format: date
                        rover:
                          type: object
        '400':
          description: Bad request - invalid parameters
        '403':
          description: Forbidden - invalid API key
        '429':
          description: Too many requests - rate limit exceeded
      security:
        - api_key: []
  /search:
    get:
      tags:
        - NASA Image and Video Library
      summary: NASA Image and Video Library - search
      description: Access NASA Image and Video Library data
      parameters:
        - name: api_key
          in: query
          description: NASA API Key for expanded usage
          required: false
          schema:
            type: string
            default: DEMO_KEY
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - invalid parameters
        '403':
          description: Forbidden - invalid API key
        '429':
          description: Too many requests - rate limit exceeded
      security:
        - api_key: []
  /techtransfer:
    get:
      tags:
        - TechTransfer
      summary: TechTransfer - techtransfer
      description: >-
        NASA's Technology Transfer Program ensures that innovations developed for exploration and discovery are broadly
        available to the public. The NASA patent portfolio is available to benefit US citizens. ...
      parameters:
        - name: patent
          in: query
          description: Return a JSON of patents that match the string provided
          required: false
          schema:
            type: string
            default: None
        - name: patent_issued
          in: query
          description: Returns patent results in a JSON that match the string within the information about how issued each patent
          required: false
          schema:
            type: string
            default: None
        - name: software
          in: query
          description: Returns JSON of NASA software that matches given string.
          required: false
          schema:
            type: string
            default: None
        - name: Spinoff
          in: query
          description: Returns spinoff examples that match given word.
          required: false
          schema:
            type: string
            default: None
        - name: api_key
          in: query
          description: NASA API Key for expanded usage
          required: false
          schema:
            type: string
            default: DEMO_KEY
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - invalid parameters
        '403':
          description: Forbidden - invalid API key
        '429':
          description: Too many requests - rate limit exceeded
      security:
        - api_key: []
  /techtransfer/patent/:
    get:
      tags:
        - TechTransfer
      summary: TechTransfer - API
      description: >-
        NASA's Technology Transfer Program ensures that innovations developed for exploration and discovery are broadly
        available to the public. The NASA patent portfolio is available to benefit US citizens. ...
      parameters:
        - name: patent
          in: query
          description: Return a JSON of patents that match the string provided
          required: false
          schema:
            type: string
            default: None
        - name: patent_issued
          in: query
          description: Returns patent results in a JSON that match the string within the information about how issued each patent
          required: false
          schema:
            type: string
            default: None
        - name: software
          in: query
          description: Returns JSON of NASA software that matches given string.
          required: false
          schema:
            type: string
            default: None
        - name: Spinoff
          in: query
          description: Returns spinoff examples that match given word.
          required: false
          schema:
            type: string
            default: None
        - name: api_key
          in: query
          description: NASA API Key for expanded usage
          required: false
          schema:
            type: string
            default: DEMO_KEY
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - invalid parameters
        '403':
          description: Forbidden - invalid API key
        '429':
          description: Too many requests - rate limit exceeded
      security:
        - api_key: []
  /techtransferQuery:
    get:
      tags:
        - TechTransfer
      summary: TechTransfer - techtransferQuery
      description: Access TechTransfer data
      parameters:
        - name: patent
          in: query
          description: Return a JSON of patents that match the string provided
          required: false
          schema:
            type: string
            default: None
        - name: patent_issued
          in: query
          description: Returns patent results in a JSON that match the string within the information about how issued each patent
          required: false
          schema:
            type: string
            default: None
        - name: software
          in: query
          description: Returns JSON of NASA software that matches given string.
          required: false
          schema:
            type: string
            default: None
        - name: Spinoff
          in: query
          description: Returns spinoff examples that match given word.
          required: false
          schema:
            type: string
            default: None
        - name: api_key
          in: query
          description: NASA API Key for expanded usage
          required: false
          schema:
            type: string
            default: DEMO_KEY
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - invalid parameters
        '403':
          description: Forbidden - invalid API key
        '429':
          description: Too many requests - rate limit exceeded
      security:
        - api_key: []
  /api:
    get:
      summary: GET /api
      description: Returns the swagger specification for the API.
      tags:
        - Techport
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        default:
          description: Object not found.
  /api/projects{.format}:
    get:
      summary: GET /api/projects{.format}
      description: Returns a list of available technology project IDs.
      tags:
        - Techport
      parameters:
        - name: updatedSince
          in: query
          description: >-
            ISO 8601 full-date in the format YYYY-MM-DD. Filters the list of available ID values by their lastUpdated
            parameter.
          required: true
          schema:
            type: string
            format: date
        - name: format
          in: path
          description: The response type desired.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    format: int64
                  lastUpdated:
                    type: string
        default:
          description: Object not found.
  /api/projects/{id}{.format}:
    get:
      summary: GET /api/projects/{id}{.format}
      description: Returns information about a specific technology project.
      tags:
        - Techport
      parameters:
        - name: id
          in: path
          description: ID of project to fetch
          required: true
          schema:
            type: integer
            format: int64
        - name: format
          in: path
          description: The response type desired.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/project'
        default:
          description: Object not found.
  /tle/{satellite_id}:
    get:
      tags:
        - TLE API
      summary: TLE API - {satellite_id}
      description: >-
        The TLE API provides up to date two line element set records, the data is updated daily from CelesTrak and
        served in JSON format. A two-line element set (TLE) is a data format encoding a list of orbit...
      parameters:
        - name: satellite_id
          in: path
          description: The unique identifier for the satellite resource
          required: true
          schema:
            type: string
        - name: api_key
          in: query
          description: NASA API Key for expanded usage
          required: false
          schema:
            type: string
            default: DEMO_KEY
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - invalid parameters
        '403':
          description: Forbidden - invalid API key
        '429':
          description: Too many requests - rate limit exceeded
      security:
        - api_key: []
  /tle:
    get:
      tags:
        - TLE API
      summary: TLE API - tle
      description: >-
        The TLE API provides up to date two line element set records, the data is updated daily from CelesTrak and
        served in JSON format. A two-line element set (TLE) is a data format encoding a list of orbit...
      parameters:
        - name: api_key
          in: query
          description: NASA API Key for expanded usage
          required: false
          schema:
            type: string
            default: DEMO_KEY
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request - invalid parameters
        '403':
          description: Forbidden - invalid API key
        '429':
          description: Too many requests - rate limit exceeded
      security:
        - api_key: []
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: api_key
      in: query
  schemas:
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
    project:
      type: object
      description: Top-level TechPort object representing a NASA technology project and its associated data.
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the project.
        lastUpdated:
          type: string
          format: date
          description: ISO 8601 full-date in the format YYYY-MM-DD describing the last time this project was updated.
        title:
          type: string
          description: Title of the project.
        acronym:
          type: string
          description: Abbreviated name of the project.
        status:
          type: string
          description: Indicates whether the project is currently active, completed, or canceled.
        description:
          type: string
          description: A detailed description of the project.
        benefits:
          type: string
          description: >-
            Describes the benefits offered to NASA funded and planned missions, unfunded or planned missions, commercial
            space industry, and to the nation.
        startDate:
          type: string
          description: The month and year the project was authorized to proceed.
        endDate:
          type: string
          description: The month and year the project is expected to complete its work.
        technologyMaturityStart:
          type: string
          description: The technology maturity (technology readiness level) of the project at its beginning.
        technologyMaturityCurrent:
          type: string
          description: The current technology maturity (technology readiness level) of the project.
        technologyMaturityEnd:
          type: string
          description: The estimated technology maturity (technology readiness level) of the project at its end.
        primaryTas:
          type: array
          description: List of primary technolgy areas (from the NASA Technology Roadmap) associated with the project.
          items:
            $ref: '#/components/schemas/technologyArea'
        additionalTas:
          type: array
          description: List of additional and cross-cutting technology areas associated with the project.
          items:
            $ref: '#/components/schemas/technologyArea'
        destinations:
          type: array
          description: List of the NASA destinations the technology on this project helps achieve.
          items:
            $ref: '#/components/schemas/destination'
        supportedMissionType:
          type: string
          description: The supported mission type (Projected Mission, Planned Mission, or Pull).
        responsibleProgram:
          type: string
          description: The NASA program that is the primary funding source for this project.
        responsibleMissionDirectorateOrOffice:
          type: string
          description: The NASA Mission Directorate or Office that is the primary funding source for this project.
        leadOrganization:
          type: object
          description: The lead NASA Center / Facility or external organization that is conducting the majority of the work.
          $ref: '#/components/schemas/organization'
        supportingOrganizations:
          type: array
          description: The supporting organizations for this project that are conducting work on the project.
          items:
            $ref: '#/components/schemas/organization'
        coFundingPartners:
          type: array
          description: >-
            Other government agencies, NASA Mission Directoratres, universities, or commercial entities performing
            contributing resources to this project.
          items:
            $ref: '#/components/schemas/organization'
        workLocations:
          type: array
          description: States and territories with people performing work on this project.
          items:
            $ref: '#/components/schemas/workLocation'
        programDirectors:
          type: array
          description: Names of the Program Directors responsible for the management of this project.
          items:
            $ref: '#/components/schemas/programDirector'
        programManagers:
          type: array
          description: Names of the Program Managers responsible for the management of this project.
          items:
            $ref: '#/components/schemas/programManager'
        projectManagers:
          type: array
          description: Names of the Project Managers responsible for the management of this project.
          items:
            $ref: '#/components/schemas/projectManager'
        principalInvestigators:
          type: array
          description: Names of the Principal Investigators who are the lead scientists or engineers for this project.
          items:
            $ref: '#/components/schemas/principalInvestigator'
        coInvestigators:
          type: array
          description: Names of the additional investigators who are scientists or engineers for this project.
          items:
            $ref: '#/components/schemas/coInvestigator'
        website:
          type: string
          description: The URL for the associated website.
        libraryItems:
          type: array
          description: List of library items in the project library.
          items:
            $ref: '#/components/schemas/libraryItem'
        closeoutSummary:
          type: string
          description: The project closeout summary excerpt.
        closeoutDocuments:
          type: array
          description: List of document files or links to the project final report closeout documentation.
          items:
            $ref: '#/components/schemas/closeoutDocument'
    libraryItem:
      type: object
      description: Represents a specific library item that is part of this project.
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the library item.
        title:
          type: string
          description: Title of the library item
        type:
          type: string
          description: Identifies the type of library item, e.g. Image
        files:
          type: array
          description: List of files associated with the library item.
          items:
            $ref: '#/components/schemas/file'
        description:
          type: string
          description: Description of the library item.
        externalUrl:
          type: string
          description: External URL for the library item.
        completionDate:
          type: string
          description: Date the library item was completed.
        publishedBy:
          type: string
          description: Publisher of the library item.
        publishedDate:
          type: string
          description: Date the library item was published.
    file:
      type: object
      description: Represents a file associated with a library item.
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the file.
        url:
          type: string
          description: The TechPort URL at which the file is accessible for download.
        size:
          type: string
          description: The size of the file in bytes.
    destination:
      type: string
      description: Represents a destination towards which the technology on this project helps advance the Agency goals.
    closeoutDocument:
      type: string
      description: Represents a file hyperlink or external hyperlink to a project closeout final report artifact.
    technologyArea:
      type: object
      description: The Technology Area for a given technology that corresponds to the NASA Technology Roadmap.
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the Technology Area.
        code:
          type: string
          description: The code identifier for the Technology Area.
        name:
          type: string
          description: The name of the Technology Area.
    organization:
      type: object
      description: A NASA center/facility associated with an project.
      properties:
        name:
          type: string
          description: The name of the organization.
        acronym:
          type: string
          description: The acronym of the organization.
        city:
          type: string
          description: The city in which the organization is located.
        state:
          type: string
          description: The state in which the organization is located.
    workLocation:
      type: string
      description: A state/territory where work on this project is performed.
    programDirector:
      type: string
      description: The name of a Program Director responsible for management of an project.
    programManager:
      type: string
      description: The name of a Program Manager responsible for management of an project.
    projectManager:
      type: string
      description: The name of a Project Manager responsible for management of an project.
    principalInvestigator:
      type: string
      description: The name of the Principal Investigator who is a lead scientist or engineer for an project.
    coInvestigator:
      type: string
      description: The name of an investigator who is a scientist or engineer for an project.
tags:
  - name: APOD
    description: Astronomy Picture of the Day
  - name: Asteroids NeoWs
    description: Near Earth Object Web Service
  - name: DONKI
    description: Space Weather Database Of Notifications, Knowledge, Information
  - name: GIBS
    description: >-
      Standardized web services that deliver global, full-resolution satellite imagery, enabling interactive exploration
      of Earth.
  - name: EONET
    description: The Earth Observatory Natural Event Tracker
  - name: EPIC
    description: Earth Polychromatic Imaging Camera
  - name: Exoplanet
    description: Programmatic access to NASA's Exoplanet Archive database
  - name: Open Science Data Repository
    description: Programmatic interface for the Open Science Data Repository website
  - name: Insight
    description: Mars Weather Service API
  - name: Mars Rover Photos
    description: Image data gathered by NASA's Curiosity, Opportunity, and Spirit rovers on Mars
  - name: NASA Image and Video Library
    description: API to access the NASA Image and Video Library site at images.nasa.gov
  - name: TechTransfer
    description: Patents, Software, and Tech Transfer Reports
  - name: Satellite Situation Center
    description: System to cast geocentric spacecraft location information into a framework of (empirical) geophysical regions
  - name: SSD/CNEOS
    description: Solar System Dynamics and Center for Near-Earth Object Studies
  - name: Techport
    description: API to make NASA technology project data available in a machine-readable format
  - name: TLE API
    description: Two line element data for earth-orbiting objects at a given point in time
  - name: Vesta/Moon/Mars Trek WMTS
    description: A Web Map Tile Service for the Vesta, Moon, and Mars Trek imagery projects
