{
  "openapi": "3.0.3",
  "info": {
    "title": "NASA APIs",
    "description": "This API provides access to NASA's collection of APIs for accessing space and earth science data. The APIs cover a wide range of NASA datasets including:\n\n- Astronomy Picture of the Day (APOD)\n- Near Earth Object Web Service (NeoWs)\n- Space Weather Database (DONKI)\n- Global Imagery Browse Services (GIBS)\n- Earth Observatory Natural Event Tracker (EONET)\n- Earth Polychromatic Imaging Camera (EPIC)\n- NASA Exoplanet Archive\n- Open Science Data Repository\n- TLE (Two Line Element) API\n- Trek WMTS Services\n\nMost APIs require an API key which can be obtained from https://api.nasa.gov/",
    "version": "1.0.0",
    "contact": {
      "name": "NASA Open Data",
      "url": "https://api.nasa.gov/",
      "email": "hq-open-innovation@nasa.gov"
    },
    "license": {
      "name": "NASA Open Data",
      "url": "https://www.nasa.gov/about/highlights/HP_Privacy.html"
    },
    "termsOfService": "https://www.nasa.gov/about/highlights/HP_Privacy.html"
  },
  "servers": [
    {
      "url": "https://api.nasa.gov",
      "description": "NASA API Production Server"
    }
  ],
  "security": [
    {
      "api_key": []
    }
  ],
  "paths": {
    "/apod": {
      "get": {
        "summary": "Returns images",
        "description": "Returns the picture of the day",
        "tags": [
          "request tag",
          "APOD"
        ],
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "description": "The date of the APOD image to retrieve",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "hd",
            "in": "query",
            "description": "Retrieve the URL for the high resolution image",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "date": {
                        "type": "string",
                        "format": "date"
                      },
                      "explanation": {
                        "type": "string"
                      },
                      "hdurl": {
                        "type": "string",
                        "format": "uri"
                      },
                      "media_type": {
                        "type": "string"
                      },
                      "service_version": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "url": {
                        "type": "string",
                        "format": "uri"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Date must be between Jun 16, 1995 and Mar 28, 2019."
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/neo/rest/v1/feed": {
      "get": {
        "tags": [
          "Asteroids NeoWs"
        ],
        "summary": "Asteroids NeoWs endpoint",
        "description": "Access Asteroids NeoWs data",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "description": "NASA API Key for expanded usage",
            "required": false,
            "schema": {
              "type": "string",
              "default": "DEMO_KEY"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response data for Asteroids NeoWs"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests - rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/neo/rest/v1/neo/": {
      "get": {
        "tags": [
          "Asteroids NeoWs"
        ],
        "summary": "Asteroids NeoWs endpoint",
        "description": "Access Asteroids NeoWs data",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "description": "NASA API Key for expanded usage",
            "required": false,
            "schema": {
              "type": "string",
              "default": "DEMO_KEY"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response data for Asteroids NeoWs"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests - rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/neo/rest/v1/neo/browse/": {
      "get": {
        "tags": [
          "Asteroids NeoWs"
        ],
        "summary": "Asteroids NeoWs endpoint",
        "description": "Access Asteroids NeoWs data",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "description": "NASA API Key for expanded usage",
            "required": false,
            "schema": {
              "type": "string",
              "default": "DEMO_KEY"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response data for Asteroids NeoWs"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests - rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/neo/rest/v1/neo/{asteroid_id}": {
      "get": {
        "tags": [
          "Asteroids NeoWs"
        ],
        "summary": "Asteroids NeoWs endpoint",
        "description": "Access Asteroids NeoWs data",
        "parameters": [
          {
            "name": "asteroid_id",
            "in": "path",
            "description": "The asteroid_id parameter",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api_key",
            "in": "query",
            "description": "NASA API Key for expanded usage",
            "required": false,
            "schema": {
              "type": "string",
              "default": "DEMO_KEY"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response data for Asteroids NeoWs"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests - rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/neo/rest/v1/neo/browse": {
      "get": {
        "tags": [
          "Asteroids NeoWs"
        ],
        "summary": "Asteroids NeoWs endpoint",
        "description": "Access Asteroids NeoWs data",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "description": "NASA API Key for expanded usage",
            "required": false,
            "schema": {
              "type": "string",
              "default": "DEMO_KEY"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response data for Asteroids NeoWs"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests - rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/DONKI/CME": {
      "get": {
        "tags": [
          "DONKI"
        ],
        "summary": "DONKI endpoint",
        "description": "Access DONKI data",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "description": "NASA API Key for expanded usage",
            "required": false,
            "schema": {
              "type": "string",
              "default": "DEMO_KEY"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response data for DONKI"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests - rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/DONKI/CMEAnalysis": {
      "get": {
        "tags": [
          "DONKI"
        ],
        "summary": "DONKI endpoint",
        "description": "Access DONKI data",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "description": "NASA API Key for expanded usage",
            "required": false,
            "schema": {
              "type": "string",
              "default": "DEMO_KEY"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response data for DONKI"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests - rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/DONKI/GST": {
      "get": {
        "tags": [
          "DONKI"
        ],
        "summary": "DONKI endpoint",
        "description": "Access DONKI data",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "description": "NASA API Key for expanded usage",
            "required": false,
            "schema": {
              "type": "string",
              "default": "DEMO_KEY"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response data for DONKI"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests - rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/DONKI/IPS": {
      "get": {
        "tags": [
          "DONKI"
        ],
        "summary": "DONKI endpoint",
        "description": "Access DONKI data",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "description": "NASA API Key for expanded usage",
            "required": false,
            "schema": {
              "type": "string",
              "default": "DEMO_KEY"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response data for DONKI"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests - rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/DONKI/FLR": {
      "get": {
        "tags": [
          "DONKI"
        ],
        "summary": "DONKI endpoint",
        "description": "Access DONKI data",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "description": "NASA API Key for expanded usage",
            "required": false,
            "schema": {
              "type": "string",
              "default": "DEMO_KEY"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response data for DONKI"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests - rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/DONKI/SEP": {
      "get": {
        "tags": [
          "DONKI"
        ],
        "summary": "DONKI endpoint",
        "description": "Access DONKI data",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "description": "NASA API Key for expanded usage",
            "required": false,
            "schema": {
              "type": "string",
              "default": "DEMO_KEY"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response data for DONKI"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests - rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/DONKI/MPC": {
      "get": {
        "tags": [
          "DONKI"
        ],
        "summary": "DONKI endpoint",
        "description": "Access DONKI data",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "description": "NASA API Key for expanded usage",
            "required": false,
            "schema": {
              "type": "string",
              "default": "DEMO_KEY"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response data for DONKI"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests - rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/DONKI/RBE": {
      "get": {
        "tags": [
          "DONKI"
        ],
        "summary": "DONKI endpoint",
        "description": "Access DONKI data",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "description": "NASA API Key for expanded usage",
            "required": false,
            "schema": {
              "type": "string",
              "default": "DEMO_KEY"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response data for DONKI"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests - rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/DONKI/HSS": {
      "get": {
        "tags": [
          "DONKI"
        ],
        "summary": "DONKI endpoint",
        "description": "Access DONKI data",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "description": "NASA API Key for expanded usage",
            "required": false,
            "schema": {
              "type": "string",
              "default": "DEMO_KEY"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response data for DONKI"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests - rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/DONKI/WSAEnlilSimulations": {
      "get": {
        "tags": [
          "DONKI"
        ],
        "summary": "DONKI endpoint",
        "description": "Access DONKI data",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "description": "NASA API Key for expanded usage",
            "required": false,
            "schema": {
              "type": "string",
              "default": "DEMO_KEY"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response data for DONKI"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests - rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/DONKI/notifications": {
      "get": {
        "tags": [
          "DONKI"
        ],
        "summary": "DONKI endpoint",
        "description": "Access DONKI data",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "description": "NASA API Key for expanded usage",
            "required": false,
            "schema": {
              "type": "string",
              "default": "DEMO_KEY"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response data for DONKI"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests - rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/wmts-webmerc/1.0.0/WMTSCapabilities.xml": {
      "get": {
        "tags": [
          "GIBS"
        ],
        "summary": "GIBS endpoint",
        "description": "Access GIBS data",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "description": "NASA API Key for expanded usage",
            "required": false,
            "schema": {
              "type": "string",
              "default": "DEMO_KEY"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response data for GIBS"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests - rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/wmts-geo/1.0.0/WMTSCapabilities.xml": {
      "get": {
        "tags": [
          "GIBS"
        ],
        "summary": "GIBS endpoint",
        "description": "Access GIBS data",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "description": "NASA API Key for expanded usage",
            "required": false,
            "schema": {
              "type": "string",
              "default": "DEMO_KEY"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response data for GIBS"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests - rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/EONET/api/v2.1/events": {
      "get": {
        "tags": [
          "EONET"
        ],
        "summary": "EONET endpoint",
        "description": "Access EONET data",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "description": "NASA API Key for expanded usage",
            "required": false,
            "schema": {
              "type": "string",
              "default": "DEMO_KEY"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response data for EONET"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests - rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/EONET/api/v2.1/categories": {
      "get": {
        "tags": [
          "EONET"
        ],
        "summary": "EONET endpoint",
        "description": "Access EONET data",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "description": "NASA API Key for expanded usage",
            "required": false,
            "schema": {
              "type": "string",
              "default": "DEMO_KEY"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response data for EONET"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests - rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/EONET/api/v2.1/layers": {
      "get": {
        "tags": [
          "EONET"
        ],
        "summary": "EONET endpoint",
        "description": "Access EONET data",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "description": "NASA API Key for expanded usage",
            "required": false,
            "schema": {
              "type": "string",
              "default": "DEMO_KEY"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response data for EONET"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests - rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/EPIC/api/natural": {
      "get": {
        "tags": [
          "EPIC"
        ],
        "summary": "EPIC endpoint",
        "description": "Access EPIC data",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "description": "NASA API Key for expanded usage",
            "required": false,
            "schema": {
              "type": "string",
              "default": "DEMO_KEY"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response data for EPIC"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests - rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/EPIC/api/natural/date/{date}": {
      "get": {
        "tags": [
          "EPIC"
        ],
        "summary": "EPIC endpoint",
        "description": "Access EPIC data",
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "description": "The date parameter",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api_key",
            "in": "query",
            "description": "NASA API Key for expanded usage",
            "required": false,
            "schema": {
              "type": "string",
              "default": "DEMO_KEY"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response data for EPIC"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests - rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/EPIC/api/natural/all": {
      "get": {
        "tags": [
          "EPIC"
        ],
        "summary": "EPIC endpoint",
        "description": "Access EPIC data",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "description": "NASA API Key for expanded usage",
            "required": false,
            "schema": {
              "type": "string",
              "default": "DEMO_KEY"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response data for EPIC"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests - rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/EPIC/api/enhanced": {
      "get": {
        "tags": [
          "EPIC"
        ],
        "summary": "EPIC endpoint",
        "description": "Access EPIC data",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "description": "NASA API Key for expanded usage",
            "required": false,
            "schema": {
              "type": "string",
              "default": "DEMO_KEY"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response data for EPIC"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests - rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/EPIC/api/enhanced/date/{date}": {
      "get": {
        "tags": [
          "EPIC"
        ],
        "summary": "EPIC endpoint",
        "description": "Access EPIC data",
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "description": "The date parameter",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api_key",
            "in": "query",
            "description": "NASA API Key for expanded usage",
            "required": false,
            "schema": {
              "type": "string",
              "default": "DEMO_KEY"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response data for EPIC"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests - rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/EPIC/api/enhanced/all": {
      "get": {
        "tags": [
          "EPIC"
        ],
        "summary": "EPIC endpoint",
        "description": "Access EPIC data",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "description": "NASA API Key for expanded usage",
            "required": false,
            "schema": {
              "type": "string",
              "default": "DEMO_KEY"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response data for EPIC"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests - rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/exoplanet/exoplanets": {
      "get": {
        "tags": [
          "Exoplanet"
        ],
        "summary": "Exoplanet endpoint",
        "description": "Access Exoplanet data",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "description": "NASA API Key for expanded usage",
            "required": false,
            "schema": {
              "type": "string",
              "default": "DEMO_KEY"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response data for Exoplanet"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests - rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/exoplanet/exomultpars": {
      "get": {
        "tags": [
          "Exoplanet"
        ],
        "summary": "Exoplanet endpoint",
        "description": "Access Exoplanet data",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "description": "NASA API Key for expanded usage",
            "required": false,
            "schema": {
              "type": "string",
              "default": "DEMO_KEY"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response data for Exoplanet"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests - rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/techtransfer": {
      "get": {
        "tags": [
          "TechTransfer"
        ],
        "summary": "TechTransfer endpoint",
        "description": "Access TechTransfer data",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "description": "NASA API Key for expanded usage",
            "required": false,
            "schema": {
              "type": "string",
              "default": "DEMO_KEY"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response data for TechTransfer"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests - rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/insight_weather/": {
      "get": {
        "tags": [
          "Insight"
        ],
        "summary": "Insight endpoint",
        "description": "Access Insight data",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "description": "NASA API Key for expanded usage",
            "required": false,
            "schema": {
              "type": "string",
              "default": "DEMO_KEY"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response data for Insight"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests - rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/mars-photos/api/v1/rovers/{rover}/photos": {
      "get": {
        "tags": [
          "Mars Rover Photos"
        ],
        "summary": "Mars Rover Photos endpoint",
        "description": "Access Mars Rover Photos data",
        "parameters": [
          {
            "name": "rover",
            "in": "path",
            "description": "The rover parameter",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api_key",
            "in": "query",
            "description": "NASA API Key for expanded usage",
            "required": false,
            "schema": {
              "type": "string",
              "default": "DEMO_KEY"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response data for Mars Rover Photos"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests - rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/mars-photos/api/v1/rovers/{rover}/latest_photos": {
      "get": {
        "tags": [
          "Mars Rover Photos"
        ],
        "summary": "Mars Rover Photos endpoint",
        "description": "Access Mars Rover Photos data",
        "parameters": [
          {
            "name": "rover",
            "in": "path",
            "description": "The rover parameter",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api_key",
            "in": "query",
            "description": "NASA API Key for expanded usage",
            "required": false,
            "schema": {
              "type": "string",
              "default": "DEMO_KEY"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response data for Mars Rover Photos"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests - rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/mars-photos/api/v1/rovers": {
      "get": {
        "tags": [
          "Mars Rover Photos"
        ],
        "summary": "Mars Rover Photos endpoint",
        "description": "Access Mars Rover Photos data",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "description": "NASA API Key for expanded usage",
            "required": false,
            "schema": {
              "type": "string",
              "default": "DEMO_KEY"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response data for Mars Rover Photos"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests - rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/search": {
      "get": {
        "tags": [
          "NASA Image and Video Library"
        ],
        "summary": "NASA Image and Video Library endpoint",
        "description": "Access NASA Image and Video Library data",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "description": "NASA API Key for expanded usage",
            "required": false,
            "schema": {
              "type": "string",
              "default": "DEMO_KEY"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response data for NASA Image and Video Library"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests - rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/sscweb/locations": {
      "get": {
        "tags": [
          "Satellite Situation Center"
        ],
        "summary": "Satellite Situation Center endpoint",
        "description": "Access Satellite Situation Center data",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "description": "NASA API Key for expanded usage",
            "required": false,
            "schema": {
              "type": "string",
              "default": "DEMO_KEY"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response data for Satellite Situation Center"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests - rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/sscweb/observatories": {
      "get": {
        "tags": [
          "Satellite Situation Center"
        ],
        "summary": "Satellite Situation Center endpoint",
        "description": "Access Satellite Situation Center data",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "description": "NASA API Key for expanded usage",
            "required": false,
            "schema": {
              "type": "string",
              "default": "DEMO_KEY"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response data for Satellite Situation Center"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests - rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/ssd/fireball.api": {
      "get": {
        "tags": [
          "SSD/CNEOS"
        ],
        "summary": "SSD/CNEOS endpoint",
        "description": "Access SSD/CNEOS data",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "description": "NASA API Key for expanded usage",
            "required": false,
            "schema": {
              "type": "string",
              "default": "DEMO_KEY"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response data for SSD/CNEOS"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests - rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/ssd/sbdb_query.api": {
      "get": {
        "tags": [
          "SSD/CNEOS"
        ],
        "summary": "SSD/CNEOS endpoint",
        "description": "Access SSD/CNEOS data",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "description": "NASA API Key for expanded usage",
            "required": false,
            "schema": {
              "type": "string",
              "default": "DEMO_KEY"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response data for SSD/CNEOS"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests - rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api": {
      "get": {
        "summary": "GET /api",
        "description": "Returns the swagger specification for the API.",
        "tags": [
          "Techport"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "default": {
            "description": "Object not found."
          }
        }
      }
    },
    "/api/projects{.format}": {
      "get": {
        "summary": "GET /api/projects{.format}",
        "description": "Returns a list of available technology project IDs.",
        "tags": [
          "Techport"
        ],
        "parameters": [
          {
            "name": "updatedSince",
            "in": "query",
            "description": "ISO 8601 full-date in the format YYYY-MM-DD. Filters the list of available ID values by their lastUpdated parameter.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "format",
            "in": "path",
            "description": "The response type desired.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "lastUpdated": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Object not found."
          }
        }
      }
    },
    "/api/projects/{id}{.format}": {
      "get": {
        "summary": "GET /api/projects/{id}{.format}",
        "description": "Returns information about a specific technology project.",
        "tags": [
          "Techport"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of project to fetch",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "format",
            "in": "path",
            "description": "The response type desired.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/project"
                }
              }
            }
          },
          "default": {
            "description": "Object not found."
          }
        }
      }
    },
    "/tle/{satellite_id}": {
      "get": {
        "tags": [
          "TLE API"
        ],
        "summary": "TLE API endpoint",
        "description": "Access TLE API data",
        "parameters": [
          {
            "name": "satellite_id",
            "in": "path",
            "description": "The satellite_id parameter",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api_key",
            "in": "query",
            "description": "NASA API Key for expanded usage",
            "required": false,
            "schema": {
              "type": "string",
              "default": "DEMO_KEY"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response data for TLE API"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests - rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tle": {
      "get": {
        "tags": [
          "TLE API"
        ],
        "summary": "TLE API endpoint",
        "description": "Access TLE API data",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "description": "NASA API Key for expanded usage",
            "required": false,
            "schema": {
              "type": "string",
              "default": "DEMO_KEY"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response data for TLE API"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests - rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/mars-wmts/catalog/": {
      "get": {
        "tags": [
          "Vesta/Moon/Mars Trek WMTS"
        ],
        "summary": "Vesta/Moon/Mars Trek WMTS endpoint",
        "description": "Access Vesta/Moon/Mars Trek WMTS data",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "description": "NASA API Key for expanded usage",
            "required": false,
            "schema": {
              "type": "string",
              "default": "DEMO_KEY"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response data for Vesta/Moon/Mars Trek WMTS"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests - rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/vesta-wmts/catalog/": {
      "get": {
        "tags": [
          "Vesta/Moon/Mars Trek WMTS"
        ],
        "summary": "Vesta/Moon/Mars Trek WMTS endpoint",
        "description": "Access Vesta/Moon/Mars Trek WMTS data",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "description": "NASA API Key for expanded usage",
            "required": false,
            "schema": {
              "type": "string",
              "default": "DEMO_KEY"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response data for Vesta/Moon/Mars Trek WMTS"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests - rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/mars-wmts/catalog/Mars_Viking_MDIM21_ClrMosaic_global_232m/1.0.0/WMTSCapabilities.xml": {
      "get": {
        "tags": [
          "Vesta/Moon/Mars Trek WMTS"
        ],
        "summary": "Vesta/Moon/Mars Trek WMTS endpoint",
        "description": "Access Vesta/Moon/Mars Trek WMTS data",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "description": "NASA API Key for expanded usage",
            "required": false,
            "schema": {
              "type": "string",
              "default": "DEMO_KEY"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response data for Vesta/Moon/Mars Trek WMTS"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests - rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/mars-wmts/catalog/curiosity_ctx_mosaic/1.0.0/WMTSCapabilities.xml": {
      "get": {
        "tags": [
          "Vesta/Moon/Mars Trek WMTS"
        ],
        "summary": "Vesta/Moon/Mars Trek WMTS endpoint",
        "description": "Access Vesta/Moon/Mars Trek WMTS data",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "description": "NASA API Key for expanded usage",
            "required": false,
            "schema": {
              "type": "string",
              "default": "DEMO_KEY"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response data for Vesta/Moon/Mars Trek WMTS"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests - rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/mars-wmts/catalog/curiosity_hirise_mosaic/1.0.0/WMTSCapabilities.xml": {
      "get": {
        "tags": [
          "Vesta/Moon/Mars Trek WMTS"
        ],
        "summary": "Vesta/Moon/Mars Trek WMTS endpoint",
        "description": "Access Vesta/Moon/Mars Trek WMTS data",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "description": "NASA API Key for expanded usage",
            "required": false,
            "schema": {
              "type": "string",
              "default": "DEMO_KEY"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response data for Vesta/Moon/Mars Trek WMTS"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests - rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/mars-wmts/catalog/ESP_040776_2115_RED_A_01_ORTHO/1.0.0/WMTSCapabilities.xml": {
      "get": {
        "tags": [
          "Vesta/Moon/Mars Trek WMTS"
        ],
        "summary": "Vesta/Moon/Mars Trek WMTS endpoint",
        "description": "Access Vesta/Moon/Mars Trek WMTS data",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "description": "NASA API Key for expanded usage",
            "required": false,
            "schema": {
              "type": "string",
              "default": "DEMO_KEY"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response data for Vesta/Moon/Mars Trek WMTS"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests - rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/mars-wmts/catalog/ESP_042252_1930_RED_B_01_ORTHO/1.0.0/WMTSCapabilities.xml": {
      "get": {
        "tags": [
          "Vesta/Moon/Mars Trek WMTS"
        ],
        "summary": "Vesta/Moon/Mars Trek WMTS endpoint",
        "description": "Access Vesta/Moon/Mars Trek WMTS data",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "description": "NASA API Key for expanded usage",
            "required": false,
            "schema": {
              "type": "string",
              "default": "DEMO_KEY"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response data for Vesta/Moon/Mars Trek WMTS"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests - rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/mars-wmts/catalog/ESP_042647_1760_RED_B_01_ORTHO/1.0.0/WMTSCapabilities.xml": {
      "get": {
        "tags": [
          "Vesta/Moon/Mars Trek WMTS"
        ],
        "summary": "Vesta/Moon/Mars Trek WMTS endpoint",
        "description": "Access Vesta/Moon/Mars Trek WMTS data",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "description": "NASA API Key for expanded usage",
            "required": false,
            "schema": {
              "type": "string",
              "default": "DEMO_KEY"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response data for Vesta/Moon/Mars Trek WMTS"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests - rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/mars-wmts/catalog/HRSC_Martian_east/1.0.0/WMTSCapabilities.xml": {
      "get": {
        "tags": [
          "Vesta/Moon/Mars Trek WMTS"
        ],
        "summary": "Vesta/Moon/Mars Trek WMTS endpoint",
        "description": "Access Vesta/Moon/Mars Trek WMTS data",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "description": "NASA API Key for expanded usage",
            "required": false,
            "schema": {
              "type": "string",
              "default": "DEMO_KEY"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response data for Vesta/Moon/Mars Trek WMTS"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests - rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/mars-wmts/catalog/MC11E_HRMOSCO_COL/1.0.0/WMTSCapabilities.xml": {
      "get": {
        "tags": [
          "Vesta/Moon/Mars Trek WMTS"
        ],
        "summary": "Vesta/Moon/Mars Trek WMTS endpoint",
        "description": "Access Vesta/Moon/Mars Trek WMTS data",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "description": "NASA API Key for expanded usage",
            "required": false,
            "schema": {
              "type": "string",
              "default": "DEMO_KEY"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response data for Vesta/Moon/Mars Trek WMTS"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests - rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/mars-wmts/catalog/MC11E_HRMOSND_ND5/1.0.0/WMTSCapabilities.xml": {
      "get": {
        "tags": [
          "Vesta/Moon/Mars Trek WMTS"
        ],
        "summary": "Vesta/Moon/Mars Trek WMTS endpoint",
        "description": "Access Vesta/Moon/Mars Trek WMTS data",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "description": "NASA API Key for expanded usage",
            "required": false,
            "schema": {
              "type": "string",
              "default": "DEMO_KEY"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response data for Vesta/Moon/Mars Trek WMTS"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests - rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/mars-wmts/catalog/spirit_hirise_mosaic/1.0.0/WMTSCapabilities.xml": {
      "get": {
        "tags": [
          "Vesta/Moon/Mars Trek WMTS"
        ],
        "summary": "Vesta/Moon/Mars Trek WMTS endpoint",
        "description": "Access Vesta/Moon/Mars Trek WMTS data",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "description": "NASA API Key for expanded usage",
            "required": false,
            "schema": {
              "type": "string",
              "default": "DEMO_KEY"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
[...]
